<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-20">
    <a class="navbar-brand" [routerLink]="['/']">MEAN Stack Auth App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
            >
                <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="authService.loggedIn()">
            <li class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
            >
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
            >
                <a class="nav-link" [routerLink]="['/profile']">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="!authService.loggedIn()">
            <li class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
            >
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
            >
                <a class="nav-link" [routerLink]="['/register']">Register</a>
            </li>
        </ul>
    </div>
</nav>