<div class="jumbotron text-center">
    <h1>MEAN Stack Auth App</h1>
    <p class="lead">Simple auth app based on MEAN stack</p>
    <div class="buttons">
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
    </div>
    <div class="col-md-4">
        <h3>Angular-CLI</h3>
        <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Tokens</h3>
        <p>Full featured authentication using JSON web tokens. Login and store user data</p>
    </div>
</div>